---
import AppLayout from "../../layouts/AppLayout.astro";
import { Step2View } from "../../components/generate/Step2View";
---

<AppLayout title="Generate Flashcards - Step 2">
  <div class="container mx-auto py-6">
    <Step2View client:load />
  </div>
</AppLayout> 