---
import AppLayout from "../../layouts/AppLayout.astro";
import { Step3View } from "../../components/generate/Step3View";
---

<AppLayout title="Generate Flashcards - Step 3">
  <div class="container mx-auto py-6">
    <Step3View client:load />
  </div>
</AppLayout> 